*~
~$*
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
.DS_STore?
**/results/**/*.csv
**/results/**/*.log
**/local/**
*.zip
*.nb.html
*.pdf
*.html
*.md
*.gpg
.#*
*.png
*.jpeg
*.tiff
*html.gpg
*.gpg
